body {
    margin: 0;
    background-image: url("https://i.pinimg.com/564x/d3/70/37/d3703770179ceb10ef485791fd7d70ef.jpg");
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#banner { width: 100%;
    border-radius: 16px 16px 0 0;
    height: 3OOpx;
}

#pfp { width: 160px;
    border-radius: 50%;
    margin-left: 13px;
    margin-top: -80px;
}

#point {font-size: 8px;
    margin-left:50px ;
    margin-top:-10px;
}

.megumi{display:flex;
    flex:1
}

.megumi p{flex:1;
    text-align: center;
}

